@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    background-color: #000;
  }
  html,
  body {
    
    color: rgb(var(--color-text-base));
    /* cursor: url('/mouse-pointer.svg'), auto;
     */
    
    
    cursor: url('/mouse-pointer-darkmode.svg'), auto;
    max-width: 100vw;
    overflow-x: hidden;
      /* background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  }

  :root {
    /* 
    --color-background: 220 220 220;
    --color-text-base: 0 0 0; */
    --color-primary: 59 130 246;
    --color-secondary: 255 255 255;
    --color-danger: 220 38 38;
    --color-text-primary: 59 130 246;
    
    --color-background: 0 0 0;
    --color-text-base: 229 231 235;
    --invert: 1;    /*  this is used to know when to invert vercel footer image based on light or dark mode*/

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );
    --radix-accordion-content-height: 440px;
    --max-width: 1100px;
    --border-radius: 0px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
      'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
      'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --invert: 0;    /*  this is used to know when to invert vercel footer image based on light or dark mode*/
    --bg-secondary: #27272a;
    --warning-gradient: repeating-linear-gradient(-45deg,transparent,transparent 20px,var(--bg-secondary) 20px,var(--bg-secondary) 40px);
  }
  a {
    text-decoration: none;
  }
  next-route-announcer {
    position: absolute;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
  p {
    font-weight: 400;
  }
  svg circle, svg line, svg path, svg polygon, svg rect {
    shape-rendering: geometricprecision;
      /* shape-rendering: crispEdges; */
  }

  dialog:modal {
    max-width: 100vw;
    max-height: 100vh;
  }

  input[type="color" i]::-webkit-color-swatch {
    border: none;
    border-radius: 0%;
  }
  .hideScroll::-webkit-scrollbar {
    display: none;

  }
  .hideScroll2 {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(var(--color-text-base))'%3E%3Cpath d='M8 10.5L3.5 5h9L8 10.5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.5em;
    padding-right: 2.5rem;
    border-radius: none;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: 0 0 0;
    --color-text-base: 229 231 235;
    --invert: 1;    /*  this is used to know when to invert vercel footer image based on light or dark mode*/

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );
  }
  html,
  body {
    cursor: url('/mouse-pointer-darkmode.svg'), auto;
  }
}

/* #9c43d8 */
.coolBackground {
  background: linear-gradient(0deg, transparent 0, rgb(var(--color-background)) 300px), 
              fixed 10px 10px /20px 20px radial-gradient(rgb(var(--color-primary)) 1px, transparent 0),
              fixed 0px 0 /20px 20px radial-gradient( #555 1px, rgb(var(--color-background)) 0px);
  /* transform: rotate(-5deg) skew(-5deg); */
}
.coolText{
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(122.53deg, #DD53FF 0%, #69E4FF 42.21%, #88FF8A 59.73%, #FF9900 100%);
  background-size: 400%;
  animation: gradientMove 15s ease infinite;
}

.coolBorder {
  color: transparent;
  border: 2px solid;
  background: linear-gradient(rgb(var(--color-background)), rgb(var(--color-background))) padding-box,
              linear-gradient(122.53deg, #DD53FF 0%, #69E4FF 42.21%, #88FF8A 59.73%, #FF9900 100%) border-box;
  background-size: 400%;
  animation: gradientMove 15s ease infinite;
}
.coolBorder:hover {
  color: black;
  background: linear-gradient(122.53deg, #DD53FF 0%, #69E4FF 42.21%, #88FF8A 59.73%, #FF9900 100%) padding-box,
              linear-gradient(black, black) padding-box;
  background-size: 400%;
  animation: gradientMove 15s ease infinite;
}

.gray-blackGradient {
  background-image: linear-gradient(90deg, #334155 65%, #000);
}
.green-black-blue-gradient {
  background-image: linear-gradient(45deg, #22c55e50, #000 30% 70%, #3b82f650),
  linear-gradient(0deg, #22c55e50, #000 5% 100%, #3b82f650);
}
.purple-black-pink-gradient {
  background-image: linear-gradient(45deg, #9c43d850, #000 30% 70%, #ff00a750),
  linear-gradient(0deg, #9c43d850, #000 5% 100%, #ff00a750);
}


.errorPage-numberBox {
  background-color: rgb(39 18 74/ 1);
  padding-bottom: 100%;
  opacity: 0;
  z-index: 10;
  box-shadow: 0 0 #0000, 0 0 #0000, rgba(0, 0, 0, .5);
  animation: errorPage-numberBox 3s ease-in-out infinite;
}
.errorPage-square {
  background-color: #000;
  padding-bottom: 100%;
}
.errorPage-numberBox2 {
  animation-delay: .5s;
}
.errorPage-numberBox3 {
  animation-delay: 1s;
}

.errorPage-radialGradient {
  background: radial-gradient(ellipse farthest-side, hsla(0, 0%, 7%, 0) 0%, hsla(0, 0%, 7%, 0) 50%, #111 100%);;
}

@keyframes errorPage-numberBox {
  50% {
    opacity: 1;
  }
}

/* This keyframe is for Sign in/ SIgn Out and home button */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
 


.table th:first-child {
  position: relative;
}

.table {
  display: table;
  position: relative;
  text-align: left;
  text-indent: 0;
  border-collapse: collapse;
}
.table thead {
  display: table-header-group;
  vertical-align: middle;
}
.table :where(th, td) {
    white-space: nowrap;
    padding: 1rem;
    vertical-align: middle;
}
.table :where(thead, tfoot) :where(th, td) {
    background-color: rgb(var(--color-background));
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.table :where(tbody th, tbody td) {
    background-color: rgb(var(--color-background));
}
.table th {
  display: table-cell;
  padding: 0.5rem 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  vertical-align: top;
  border-top: 1px solid #d2d6dc;
}
